/* preload image */
#preload_area {
	background-image: url(../images/microclimate_header.png);
	background-image: url(../images/microclimate_header992.png);
	background-image: url(../images/microclimate_header768.png);
	background-image: url(../images/microclimate_header1200.png);
	width: 0px;
	height: 0px;
	display: inline;
}

/* Video player popup */
.closeBtn {
	position: absolute;
	z-index: 0;
	top: -24px;;
	right: -24px;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 50%;
	font-size: 20px;
	background-color: #fff;
}

.videoContainer {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 1;
	border-radius: 4px;
}

.videoPlayer {
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	max-width: 66%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 4px;
}

.homeicon-div {
	min-width: 200px;
}

.dark-bg {
	opacity: 1;
}

.video-iframe {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 8px solid #fff;
	border-radius: 4px;
}
/* end video player popup */

/* new version */
.main {
	font-family: ibm-plex-sans;
}

h1 {
	font-size: 24px;
	line-height: 1.5em;
}

.selling-points-text-left h2 {
	text-align: left;
}

.selling-points-text-right h2 {
	text-align: right;
}

.text-center {
	text-align: center;
}

h2 {
	font-size: 20px;
	line-height: 1.5em;
	font-weight: bold;
}

.show-xs {
	display: none;
}

.hide-xs {
	display: unset;
}

#homepage #navbar_home_link {
	display: none;
}

#homepage #navbar_home_link_beta {
	display: none;
}
.header-zindex999 {
	z-index: 999;
}

.navbar a {
	color: white;
}
.beta {
	content: ""; */
    padding-bottom: 2px;
    padding-right: 2px;
    border-radius: 10px;
    background-color: #DB2663;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: #DB2663;
    font-size: 100%;
}
.navbar-header a:hover:after {
	content: "";
	position: absolute;
	top: 25%;
	margin-left: -7px;
	height: 50%;
	border-radius: 20px;
	background-color: #DB2663;
	z-index: -10;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
	background-color: #DB2663;
	width: 150px;
}

.selling-points-text-left p, .selling-points-text-right p {
	font-weight: bold;
}

.main-content {
	margin-top: 400px;
}

.nav>li>a:focus, .nav>li>a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent !important;
}

.active-button:after, .nav>li>a:hover:after {
	content: "";
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 50%;
	border-radius: 20px;
	background-color: #DB2663;
	z-index: -10;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
	background-color: #DB2663;
}

.navbar a:hover {
	color: #DB2663;
	text-decoration: none;
}

.header-bg {
	background-image: url('../images/microclimate_header.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0px;
}

.footer-bg {
	margin-top: 120px;
	background-image: url('../images/footer.svg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}

.full-width {
	width: 100%
}

.doc-container-header {
	height: 400px;
	display: flex;
	align-items: center;
}

.footer-container {
	height: 300px;
	display: flex;
	color: white;
	align-items: flex-end;
}

.header-intro {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	color: white;
}

.header-doc-intro {
	position: relative;
	margin: auto;
	text-align: center;
	color: white;
}
.home_beta {
	color: white;
	top: 5px;
	left: -10px;
}
.header-doc-main {
	font-size: 46pt;
}

a.download-link:hover {
	background-color: #CC0648;
	text-decoration: none;
	color: #ffffff;
}

.download-link-container {
	margin-top: 30px;
}

.document-content h1, .document-content h2 {
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: center;
}

a.download-link, a.download-link:visited, a.download-link:active, a.download-link:focus
	{
	display: inline-block;
	font-size: 1.2em;
	text-decoration: none;
	color: #ffffff;
	background-color: #DB2663;
	border-radius: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 8px;
	text-align: center;
	transition: background-color .2s;
	width: 220px;
}

.header-button-spacer {
	width: 48px;
	display: inline-block;
}

.value-props {
	margin: auto;
	width: 840px;
	color: #989A9C;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.6em;
}

.main-content a {
	color: #db3f66;
	text-decoration: none;
}

.selling-points {
	margin-top: 80px;
}

.text-align-right {
	text-align: right;
}

.selling-points-img {
	height: 333px;
}

.selling-points-text-left {
	padding-right: 140px;
	padding-left: 60px;
	font-size: 16px;
}

.selling-points-text-right {
	text-align: right;
	padding-right: 60px;
	font-size: 16px;
	padding-left: 140px
}

.selling-points-row {
	display: flex;
	align-items: center;
	font-size: 1.2em;
}

.video_cell {
	padding-top: 50px;
	padding-left: 50px;
	font-size: 18px;
}

.resources-row p {
	font-size: 1.8em;
	text-align: center;
	margin-top: 100px;
}

.document-content h1 {
	font-size: 26pt;
}

.document-content h2 {
	font-size: 24px;
}

.document-content h3 {
	font-size: 22px;
}

.document-content h4 {
	font-size: 20px;
}

.main-content {
	margin-top: 350px;
}

.document-content {
	margin-top: 420px;
}
/* Large Devices, Wide Screens */
@media ( max-width : 1200px) {
	
	.beta {
        font-size: 90%;
    }
	.doc-container-header {
		height: 300px;
	}
	.main-content {
		margin-top: 250px;
	}
	.document-content {
		margin-top: 310px;
	}
	.header-doc-main {
		font-size: 38pt;
	}
	.document-content h1, .document-content h2 {
		padding-top: 40px;
	}
	.document-content h1 {
		font-size: 24pt;
	}
	.document-content h2 {
		font-size: 22px;
	}
	.document-content h3 {
		font-size: 20px;
	}
	.document-content h4 {
		font-size: 18px;
	}
	.header-bg {
		background-image: url('../images/microclimate_header1200.png');
		height: 300px;
	}
	.selling-points {
		margin-top: 60px;
	}
	.header-main img {
		height: 40px;
		margin-bottom: 20px;
	}
	.selling-points-img {
		height: 257px;
	}
	.value-props {
		width: 760px;
		font-size: 1.5em;
		line-height: 1.5em;
	}
	.header-main {
		
	}
	h2 {
		font-size: 18px;
		line-height: 1.5em;
		font-weight: bold;
	}
	.header-intro-content {
		
	}
	h1 {
		font-size: 18px;
		line-height: 1.5em;
	}
	.header-intro {
		margin-top: 65px;
	}
	a.download-link, a.download-link:visited, a.download-link:active, a.download-link:focus
		{
		font-size: 16px;
		border-radius: 20px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 15px;
		padding-right: 15px;
		width: 180px;
	}
	.footer-container {
		height: 200px;
	}
	.footer-bg {
		margin-top: 200px;
		height: 200px;
	}
}

/* Medium Devices, Desktops */
@media ( max-width : 992px) {
	.header-bg {
		background-image: url('../images/microclimate_header992.png');
		height: 250px;
	}
	.document-content h1 {
		font-size: 22pt;
	}
	.document-content h2 {
		font-size: 20px;
	}
	.document-content h3 {
		font-size: 18px;
	}
	.document-content h4 {
		font-size: 16px;
	}
	.doc-container-header {
		height: 250px;
	}
	.header-doc-main {
		font-size: 30pt;
	}
	.main-content {
		margin-top: 200px;
	}
	.document-content {
		margin-top: 250px;
	}
	.header-main img {
		height: 30px;
		margin-bottom: 15px;
	}
	.selling-points {
		margin-top: 50px;
	}
	.selling-points-img {
		height: 230px;
	}
	.value-props {
		width: 600px;
		font-size: 1.4em;
		line-height: 1.4em;
	}
	.header-main {
		
	}
	.download-link-container {
		margin-top: 15px;
	}
	.header-intro-content {
		
	}
	.header-intro {
		margin-top: 60px;
	}
	.selling-points-text-right {
		text-align: right;
		padding-right: 55px;
		padding-left: 60px;
	}
	.selling-points-text-left {
		padding-left: 55px;
		padding-right: 60px;
	}
	a.download-link, a.download-link:visited, a.download-link:active, a.download-link:focus
		{
		font-size: 15px;
		border-radius: 15px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 8px;
		padding-right: 8px;
		width: 160px;
	}
	.selling-points-row {
		font-size: 1.1em;
	}
	.resources-row p {
		font-size: 1.6em;
		text-align: center;
		margin-top: 60px;
	}
	.footer-container {
		height: 150px;
	}
	.footer-bg {
		margin-top: 150px;
		height: 150px;
	}
}

/* Small Devices, Tablets */
@media ( max-width : 768px) {
	.beta {
        font-size: 80%;
    }
	.header-main img {
		height: 24px;
	}
	.document-content h1 {
		font-size: 20pt;
	}
	.document-content h2 {
		font-size: 18px;
	}
	.document-content h3 {
		font-size: 16px;
		font-weight: bolder;
	}
	.document-content h4 {
		font-size: 16px;
		font-weight: bold;
	}
	.active-button:after {
		content: none;
	}
	#navbar {
		position: absolute;
		width: 100%;
		z-index: 9999;
	}
	.navbar-toggle .icon-bar {
		background-color: #DB2663 !important;
	}
	.navbar-toggle.collapsed .icon-bar {
		background-color: #DB2663 !important;
	}
	.doc-container-header {
		height: 200px;
	}
	.document-content h1, h2 {
		padding-top: unset;
	}
	.header-doc-main {
		font-size: 26pt;
	}
	.show-xs {
		display: unset;
	}
	.hide-xs {
		display: none;
	}
	.selling-points-row {
		display: unset;
		align-items: unset
	}
	.header-bg {
		background-image: url('../images/microclimate_header768.png');
		height: 200px;
	}
	.main-content {
		margin-top: 200px;
	}
	.selling-points {
		margin-top: 20px;
	}
	.selling-points-img {
		height: 250px;
		text-align: center;
	}
	.value-props {
		width: 400px;
		font-size: 1em;
		line-height: 1.4em;
	}
	.header-main {
		
	}
	.header-intro-content {
		font-size: 16px;
	}
	.header-intro {
		margin-top: 20px;
	}
	.selling-points-text-right {
		text-align: center;
		padding-right: unset;
		margin-top: 20px;
	}
	.selling-points-text-left {
		padding-left: unset;
		text-align: center;
		margin-top: 20px;
	}
	a.download-link, a.download-link:visited, a.download-link:active, a.download-link:focus
		{
		font-size: 10px;
		border-radius: 12px;
		padding-top: 3x;
		padding-bottom: 3px;
		padding-left: 5px;
		padding-right: 5px;
		width: 120px;
	}
	.selling-points-img {
		height: 200px;
	}
	.selling-points-text-left h2 {
		text-align: center;
	}
	.selling-points-text-right h2 {
		text-align: center;
	}
	.selling-points-text-left {
		padding-right: 30px;
		padding-left: 30px;
	}
	.selling-points-text-right {
		padding-left: 30px;
		padding-right: 30px;
	}
	h1 {
		font-size: 16px;
		line-height: 1.5em;
	}
	.download-link-container {
		margin-top: 10px;
	}
	.header-button-spacer {
		width: 18px;
	}
	.selling-points-row {
		font-size: 1em;
	}
	.resources-row p {
		font-size: 1.4em;
		text-align: center;
		margin-top: 20px;
	}
	.video_cell {
		padding-top: 20px;
		padding-left: 100px;
		font-size: 16px;
	}
	.footer-container {
		height: 100px;
	}
	.footer-bg {
		margin-top: 100px;
		height: 100px;
	}
}

/* Extra Small Devices, Phones */
@media ( max-width : 480px) {
	.beta {
        font-size: 70%;
    }
	.header-doc-main {
		font-size: 20px;
	}
	.header-main {
		
	}
	.download-link-container {
		margin-top: 20px;
	}
	a.download-link, a.download-link:visited, a.download-link:active, a.download-link:focus
		{
		width: 100px;
	}
	.value-props {
		width: 300px;
	}
	.video_cell {
		padding-left: 50px;
		font-size: 14px;
	}
	.header-intro-content {
		font-size: 13px;
	}
}

/* Custom, iPhone Retina */
@media ( max-width : 360px) {
	.beta {
        font-size: 60%;
    }
	
}