<div class="masthead">
    <div class="grid-x">
        <div class="cell small-8 medium-4 large-5 xxlarge-4 small-order-2 medium-order-1">
            <a href="{{site.baseurl}}/"><img src="dist/images/logo-microclimate.svg" alt="Microclimate logo" class="logo"></a>
        </div>
        <div class="cell small-2 medium-8 large-7 xxlarge-8 small-order-1 medium-order-2">
            <div class="mobile-nav-bar" data-responsive-toggle="toggle-main-nav" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="toggle-main-nav"></button>
            </div>
            <div class="main-nav-wrapper" id="toggle-main-nav">
                <nav class="main-nav">
                    <!-- future nav -->
                    <!-- <ul class="vertical medium-horizontal menu">
                        <li><a href="{{ site.url }}/about" {% if page.permalink == 'about' %} class="current-page" {% endif %}>About</a></li>
                        <li><a href="{{ site.url }}/learn" {% if page.permalink == 'learn' %} class="current-page" {% endif %}>Learn</a></li>
                        <li><a href="{{ site.url }}/install" {% if page.permalink == 'install' %} class="current-page" {% endif %}>Install</a></li>
                        <li><a href="{{ site.url }}/documentation" {% if page.permalink == 'documentation' %} class="current-page" {% endif %}>Docs</a></li>
                        <li><a href="{{ site.url }}/community" {% if page.permalink == 'community' %} class="current-page" {% endif %}>Community</a></li>
                    </ul> -->
                    <ul class="vertical medium-horizontal menu">
                        <li><a href="about" {% if page.permalink == 'about' %} class="current-page" {% endif %}>About</a></li>
                        <li><a href="documentation" {% if page.type == 'document' %} class="current-page" {% endif %}>Docs</a></li>
                        <li><a href="community" {% if page.permalink == 'community' %} class="current-page" {% endif %}>Community</a></li>
                        <li><a href="news" {% if page.permalink == 'news' %} class="current-page" {% endif %}>News</a></li>
                        <li><a href="roguecloud" {% if page.permalink == 'roguecloud' %} class="current-page" {% endif %}>Rogue Cloud</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> 
</div>
<!-- close masthead -->