.hero {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium){
        padding: 0 36px 36px 36px;
    }

    @include breakpoint(large){
        height: 810px;
    }
}

.hero-content {
    @include breakpoint(small only){
        margin-top: 85%;
        padding: 0 36px 36px 36px;
    }
    
    @include breakpoint(medium){
        text-align: right;
    }
}

.hero-title {
    font-weight: 300;
    margin: 1rem 0;
    font-size: 20px;

    @include breakpoint(medium){
        margin: 1rem 0 2rem 0;
    }
}

.hero-subtitle {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 17px;
}

.hero-title,
.hero-subtitle {
    @media (min-width: 641px) and (max-width: 720px){
        font-size: 20px;
    }

    @media (min-width: 720px) and (max-width: 1024px){
        font-size: 27px;
    }

    @include breakpoint(large){
        font-size: 30px;
    }

    @include breakpoint(xlarge){
        font-size: 36px;
    }
}

.hero-home {   
    background-image: url('../images/hero-home-mobile.svg');

    @include breakpoint(medium) {
        background-image: url('../images/hero-home.svg');
    }

    @media (min-width: 641px) and (max-width: 720px){
        background-position: 0px -50px
    }

    @media (min-width: 720px) and (max-width: 815px){
        background-position: 0px -50px
    }

    @media (min-width: 816px) and (max-width: 939px){
        background-position: 0px -50px
    }

    @media (min-width: 940px) and (max-width: 1024px){
        background-position: -70px -20px;
    }

    @media (min-width: 1025px) and (max-width: 1199px){
        background-position: -260px -60px;
    }

    @include breakpoint(xlarge) {
        background-position: -160px -80px;
    }
    
    @include breakpoint(xxlarge) {
        background-position: -90px -80px;
    }
}

.about {
    .hero {
        background-image: url('../images/hero-getting-started-mobile.svg');

        @include breakpoint(medium){
            background-image: url('../images/hero-getting-started.svg');
            background-position: -95px -15px;
        }

        @media (min-width: 720px) and (max-width: 780px){
            background-position: -0px -15px;
        }

        @media (min-width: 781px) and (max-width: 920px){
            background-position: -0px -15px;
        }

        @media (min-width: 1020px) and (max-width: 1100px){
            background-position: -225px -45px;
        }

        @media (min-width: 1200px) and (max-width: 1280px){
            background-position: -85px -95px !important;
        }

        @include breakpoint(large){
            background-position: -105px -45px;
        }

        @include breakpoint(xlarge){
            background-position: -45px -95px;
        }

        .hero-content {
            @include breakpoint(small only){
                margin-top: 95%;
            }
        }
    }
}

.learn,
.community {
    .hero {
        background-image: url('../images/hero-learn-mobile.svg'); 

        @include breakpoint(medium){
            background-image: url('../images/hero-learn.svg');
            background-position: -80px -60px;
        }

        @media (min-width: 641px) and (max-width: 862px){
            background-position: -190px -40px;
        }

        @include breakpoint(large){
            background-position: -530px -100px
        }

        @include breakpoint(xlarge){
            background-position: -320px -60px
        }
    }
}