{% include header.html %}
<body class="{{ page.permalink }}">
<section class="hero">
    {% include masthead.html %}
    <div class="hero-content">
        <div class="grid-x">
            <div class="cell small-10 small-offset-1 medium-5 medium-offset-7">
                <div class="hero-title">
                    Let's work together.
                </div>
                <div class="hero-subtitle">
                    We're just getting started, and we want your help.
                </div>
                <!-- /.hero-subtitle -->
                <div class="hero-cta-buttons">
                    <div class="grid-x">
                        <div class="cell small-12">
                            <a href="#content" class="button" data-smooth-scroll>Learn More</a>
                        </div>
                        <!-- /.cell -->
                    </div>
                    <!-- /.grid-x -->
                </div>
                <!-- /.cta-buttons -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.hero-content -->
</section>
<!-- /.hero -->

<main id="content">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell auto">
                <div class="card_headline">How to reach us</div>
            </div>
        </div>
        <div class="grid-x grid-margin-x" data-equalizer>
            <div class="cell large-6">
                <div class="card" data-equalizer-watch>
                    <div class="card_content">
                        <div class="card_title">Chat with us on Slack</div>
                        <p>If you are looking for a more interactive way to communicate with us, drop in to our <a href="https://ibm-cloud-tech.slack.com/messages/microclimate">Slack channel</a> to ask questions, share ideas, or just hang out and chat about all things Microclimate. If you have not previously used the ibm-cloud-tech slack instance, <a href="https://slack-invite-ibm-cloud-tech.mybluemix.net/">click here to request an invite</a>.</p>
                        <a href="https://ibm-cloud-tech.slack.com/messages/microclimate" class="button">Go to Channel</a>
                    </div>
                </div>
            </div>
            <div class="cell large-6">
                <div class="card" data-equalizer-watch>
                    <div class="card_content">
                        <div class="card_title">Bugs or recommendations</div>
                        <p>Found a bug? Have a recommendation on something we can do to improve the Microclimate experience? We opened up shop on <a href="https://github.com/orgs/microclimate-dev2ops">GitHub</a>! And while our moving vans haven’t all arrived yet, they are all in transit. In the meantime, we have enough of <a href="https://github.com/orgs/microclimate-dev2ops">our project</a> in place to start working with you. Help us help you!</p>
                        <a href="https://github.com/microclimate-dev2ops" class="button">Go to GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x" data-equalizer>
            <div class="cell large-6">
                <div class="card" data-equalizer-watch>
                    <div class="card_content">
                        <div class="card_title">Need answers?</div>
                        <p>While we put a lot of effort into making Microclimate easy to use, we know there will always be questions. If you have something you need help with, post your question to <a href="https://stackoverflow.com/questions/tagged/microclimate">Stack Overflow</a> to leverage the minds and experiences of an army of developers…including ours!</p>
                        <a href="https://stackoverflow.com/questions/tagged/microclimate" class="button">Go to StackOverflow</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>

{% include footer.html %}