body,
p,
a {
    color: $content-color;
}

hr {
    border-bottom: 2px solid #ff6464;
    max-width: 100%;
}

body {
    background-color: #fff;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

.pullquote {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin: 80px 0;
}

.callout-box {
    background-color: #152935;
    color: #fff;
    margin: 30px 0 120px 0;
    padding: 30px;

    .callout-box_header {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 3rem;
        text-align: center;
    }

    ul {
        list-style-position: inside;

        li {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}

p {
    line-height: 1.5;
}

a {
    font-weight: 700;
    text-decoration: underline;
    
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

code {
    background-color: #f0f3f6;
    color: #00132e;
    border: none;
}

main {
    @include breakpoint(medium){
        padding: 10px;
    }

    @include breakpoint(large){
        padding: 20px;
    }

    @include breakpoint(xlarge){
        padding: 40px;
    }
    
    @include breakpoint(xxlarge){
        padding: 60px;
    }
}

.text-cta {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 5rem 0;

    @include breakpoint(small only){
        text-align: center;
    }

    @include breakpoint(medium){
        font-size: 28px;
    }

    @include breakpoint(large){
        font-size: 36px;
    }
}

.control-panel-man {
    overflow: hidden;
    
    img {
        margin: 50px 0;
        position: relative;
        right: -65px;
    }
}

.waterfall-cube {
    width: 359px;
}